
.container {
	max-width: 1500px;
	margin: auto;
	display: flex;
	
}
.darkMode {

	color: var(--white1);
	border-bottom: 1px solid var(--white1) ;
  background-color: var(--dark1);
 }

 .lightMode {
	
	color: var(--dark1);
	border-bottom: 1px solid var(--dark1) ;
  background-color: var(--white1);
 }